/* src/components/Admin/Clients/ClientsPage.css */
.clients-page {
    padding: 20px;
    margin-left: 250px; /* Adjust based on Navbar width */
    background-color: #F9F9F9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left:4rem;
    padding-top: 2rem;
  }
  
  .top-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .top-section h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .search-dropdown {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .search-dropdown input,
  .search-dropdown select {
    padding: 10px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .clients-list {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto; /* Handle horizontal overflow */
  }
  
  .clients-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .clients-list th,
  .clients-list td {
    padding: 12px; /* Increased padding */
    border: 1px solid #E1E1E1;
    text-align: left;
  }
  
  .clients-list th {
    background-color: #F1F1F1;
    font-weight: bold;
  }
  
  .clients-list button {
    background-color: #6C5B7B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; /* Adjusted padding */
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .clients-list button:hover {
    background-color: #C06C84;
  }
  